html, body {
    font-size: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #191919;
    margin: 0;
}

.navbar {
    height: 56px;
    padding: 0 12px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar i {
    font-size: 20px;
    color: #fff;
    padding: 18px;
}

.youtube-logo {
    font-family: Impact, Charcoal, sans-serif;
    padding-left: 5px;
    font-weight: lighter;
}

.navbar form {
    display: inline-block;
}

.navbar form input {
    background-color: #191919;
    border: 1px solid #333;
    color: #fff;
    width: 400px;
    height: 30px;
    font-size: 14px;
    padding: 0 10px;
}

.navbar form button {
    background-color: #333;
    height: 30px;
    width: 60px;
    position: relative;
    left: -5px;
    top: -1px;
    border: 1px solid #333;
}

.navbar form button i {
    padding: 0;
    color: #888;
    font-size: 14px;
}

.navbar form button i:hover {
    color: #fff;
}

.name-icon {
    font-size: 18px;
    background-color: rgb(43, 154, 245);
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
}