// @media (min-width: 1200px) {
//     .container-xl {
//         max-width: 1310px;
//     }
// }

$grid-breakpoints: (xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1310px);

body {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    background: #eee;
}

.top-bar {
    background-color: #f72210;
    color: white;

    .logo {
        width: 400px;
        height: 60px;
        fill: white;
    }

    .logo-small {
        width: 200px;
        height: 30px;
        fill: white;
    }

    .subscribe-btn {
        background-color: white;
        color: #f72210;
    }
}

.nav-bar,
.content-top,
.content-magazine {
    background: white;
}

.border-2 {
    border-width: 2px !important;
}

.border-4 {
    border-width: 4px !important;
}

.border-red {
    border-color: #f72210 !important;
}

.border-blue {
    border-color: #4087f7 !important;
}

.featured-stories p {
    font-family: Arial, Helvetica, sans-serif;
}

.cat-float {
    position: absolute;
    bottom: 1.8em;
}

.debate {
    .deb-img {
        width: 95px;
        height: 95px;
        object-fit: cover;
    }

    .arc-img {
        right: 0;
        top: 0;
        transform: translate(-50%, -50%);
        width: 60px;
    }
}

.heroes,
.culture,
.more-stories {
    font-family: Arial, Helvetica, sans-serif;

    p {
        font-size: 0.9em;
    }
}

.big-n-logo {
    width: 1.5em;
    height: 1.3em;
    padding-top: 0.1em;
    text-align: center;
    background-color: #f72210;
}

.newsletter-btn {
    width: 40%;
    background-color: #666;
    color: white;
}

.content-magazine {
    .img-crop {
        height: 312px;
        object-fit: cover;
    }
}

.color-red {
    color: #f72210 !important;
}

.bg-red {
    background-color: #f72210 !important;
}