@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body, html {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
    color: #505050;
}

a {
    color: #0077C5;
    text-decoration: none;
}

button {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #fff;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
.signin-text {
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}
.signin-text p {
    margin: 0;
}
.signin-button button {
    padding: 0 20px;
}

main {
    margin: 0 auto;
    width: 380px;
}
main h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #888;
    text-align: center;
}
#signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
}
.form-header,
.form-subheader {
    text-align: center;
    font-weight: normal;
}
.form-subheader {
    font-size: 14px;
    margin: 0;
}
#signup-form fieldset {
    border: none;
    margin-top: 20px;
}
#signup-form fieldset label,
#signup-form fieldset input {
    display: block;
}
#signup-form fieldset label {
    text-align: left;
    font-size: 14px;
    margin: 20px 10px 10px;
    padding-left: 5px;
}
#signup-form fieldset input {
    margin: 10px auto;
    padding: 0 5px;
    width: 90%;
    font-size: 16px;
    line-height: 32px;
    outline: none;
    border: 1px solid #C1C5C8;
    border-radius: 5px;
}
#signup-form fieldset input:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
#signup-form fieldset input:invalid {
    border: 1px solid red;
    border-radius: 5px;
}
#signup-form fieldset input:valid:not(:focus) {
    color: green;
}
.phone-info {
    font-size: 10px;
    margin: -5px 15px 0;
}
.button-wrapper {
    margin-top: 40px;
    text-align: center;
}
#signup-form fieldset button {
    width: 90%;
    height: 40px;
}
.form-footer {
    margin: 30px;
    text-align: center;
    font-size: 12px;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.footer-links a {
    color: #505050;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin: 0 15px;
    display: inline;
}