* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;

}

// TODO: media queries: @1024, @768

header {
    position: relative;

    .top-nav {
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #aaa;
            text-decoration: none;
            padding: 0 5px;

            &:hover {
                color: white;
            }
        }
    }
}