* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// TODO: media queries: @1024, @768

.top-nav {
    position: relative;
    background: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #aaa;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
            color: white;
        }
    }

}

.sticky-nav {
    position: sticky;
    background: white;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #ccc;
        text-decoration: none;
        padding: 0 5px;

        &:hover {
            color: black;
        }
    }

    i {
        font-size: 1.5em;
        padding: 15px;
        color: #ccc;
        border-left: 1px solid #ccc;
    }
}

main {
    height: 10000px;
}